@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    user-select: none;
    box-sizing: border-box;
}

i {
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
}

input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    padding: 3px;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #232323;
    }
    * {
        color: #ddd
    }
    input {
        background-color: #232323;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .icon {
        border-radius: 3px;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: white;
    }
    * {
        color: black;
    }
    input {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    /* width: 250px;
    border-radius: 10px; */
    /* overflow: hidden; */
}

.hidden {
    display: none;
}

.button {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid darkslateblue; */
    border-radius: 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon_btn {
    width: 30px;
    height: 30px;
    /* padding: 15px; */
}


/* .button:hover {
    border-color: rgb(82, 82, 82);
} */

.fa {
    pointer-events: none;
}

.profile-icon {
    width: 32px;
}

#popup-container {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-content {
    width: 350px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
    /* padding: 5px; */
}

#intro-icon {
    width: 40px;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}


/* .intro-password {
    width: 90%;
} */

#intro-table {
    width: 90%;
}

#title {
    /* color: rgb(48, 212, 196); */
    font-size: large;
    transition: filter 30s, transform 30s;
    margin-top: 0px;
}

#title:hover {
    filter: blur(4px) hue-rotate(420deg) invert(69%) drop-shadow(0px 0px 10px blue) brightness(200%) contrast(200%);
    transform: scale(130%, 115%) rotate(-2deg) translate(20px, 2px);
}

.profile-button {
    width: 20px;
}

.profile-code {
    color: gray;
    cursor: pointer;
}

.profile-name-container {
    width: 100%;
    max-width: 100%;
}

.icon {
    width: 37px;
    height: 37px;
    object-fit: cover;

    /* border: 2px solid #00ced1; */
    border-radius: 8px;
}

.panel {
    /* height: 100%; */
    display: none;
    /* display will be set yo flex when panel is shown */
    position: relative;
    min-height: 0;

    flex-direction: column;
}

.profile-table {
    width: 100%;
    vertical-align: middle;
    border-spacing: 5px;
}

#table-container {
    max-height: 400px;
    overflow: auto;
}

.edit-table {
    width: 90%;
}

.edit-field {
    width: 95%;
}

.custom_file_upload {
    cursor: pointer;
}

#scan_qr_code {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: larger;
}

.settings_btn {
    margin-bottom: 5px;
}

.reset {
    background-color: #FBFBC9;
}

.reset:hover {
    background-color: #EAEA9D;
}

#no-profiles-message {
    display: none;
    width: 95%;
}

#error-message {
    width: 95%;
    color: red;
}

#status-message {
    width: 95%;
}

#action-btns-container {
    margin-top: 10px;
}